h1, h2, h3, h4 {
    color: rgb(255, 255, 255); /* We want the text to dark gray */
}
body {
    color: rgb(240, 240, 240); /* We want the text to dark gray */
}

/* Custom CSS to style bold text */
b, strong {
    color: rgb(220, 140, 240); /* Replace with your desired RGB color */
}

/* Links in Quartz are pink and hard to see */
/* Default link color */
a {
    color: rgb(80, 80, 240); /* Change to your preferred color */
}

/* Reduce spacing around lists */
p {
    margin-bottom: 0 !important;
}
ul, ol {
    margin-top: 0 !important;
    margin-bottom: 0.25em !important;
}

/* Hover effect */
a:hover {
    color: rgb(100, 100, 255); /* Change hover color */
}

/* AgGrid custom CSS */

/* There's a one pixel border around the grid that we want to remove */
.ag-root-wrapper {
    border: none !important; /* Force removal with !important */
}


/* Box shadow and rounded corners for all AgGrid themes */
[class*="ag-theme-"] {
    box-shadow: 2px 2px 6px 5px rgba(0, 0, 0, 0.25);
    border-radius: 12px; /* Rounded corners */
    border: 0.5px solid rgba(0, 0, 0, 0.5);
    margin: 0;
    padding: 0;
}

/* Apply styling to Workbench containers */
.workbench-container {
    box-shadow: 2px 2px 6px 5px rgba(0, 0, 0, 0.2);
    border-radius: 12px; /* Rounded corners */
}

/* Apply styling to custom tooltips */
.custom-tooltip {
    box-shadow: 2px 2px 6px 5px rgba(0, 0, 0, 0.25);
    border-radius: 25px; /* Rounded corners */
    overflow: hidden; /* Ensure contents fit inside the rounded corners */
    border: 1px solid rgba(40, 40, 40, 1); /* 1-pixel grey */
}

/* Some of the HTML/Markdown will use color hints like 'green-text' or 'blue-text' */
.green-text {
    color: rgb(140, 255, 140);
}

.blue-text {
    color: rgb(170, 170, 255);
}

.pink-text {
    color: rgb(240, 140, 240);
}

.red-text {
    color: rgb(255, 140, 140);
}

.orange-text {
    color: rgb(255, 195, 140);
}

.alert {
    color: rgb(200, 60, 100);
}

.warning {
    color: rgb(200, 140, 90);
}

.good {
    color: rgb(40, 100, 40);
}


/* Table styling */
table {
    width: 100%;
}

th {
    padding: 10px;
    border: 1px solid #444;
    background-color: rgb(40, 40, 40);
    color: rgb(160, 120, 240);
    font-weight: bold;
    text-align: center !important;
}

td {
    padding: 5px;
    border: 0.5px solid #444;
    text-align: center !important;
}