h1, h2, h3, h4 {
    color: rgb(80, 80, 80); /* We want the headers dark gray */
}

body {
    color: rgb(80, 80, 80); /* Dark gray text */
    background: linear-gradient(90deg, rgba(240,240,240,1) 0%, rgba(240,240,240,1) 50%, rgba(150,150,195,1) 100%);
}

/* Custom CSS to style bold text */
b, strong {
    color: rgb(120, 120, 240); /* Replace with your desired RGB color */
}

/* AgGrid custom CSS */

/* Adjust header background color */
.ag-header {
    --ag-header-background-color: rgba(150, 150, 195);
}

/* Adjust cell background */
.ag-cell {
    background-color: rgb(240, 240, 240);
}

/* Alternate row colors */
.ag-row:nth-child(even) .ag-cell {
    background-color: rgb(230, 230, 230);
}

/* Selection color for the entire row */
.ag-row.ag-row-selected .ag-cell {
    background-color: rgba(170, 170, 205, 1.0);
}

/* There's a one pixel border around the grid that we want to remove */
.ag-root-wrapper {
    border: none !important; /* Force removal with !important */
}


/* Box shadow and rounded corners for all AgGrid themes */
[class*="ag-theme-"] {
    box-shadow: 4px 6px 5px rgba(0, 0, 0, 0.3); /* Drop shadow */
    border-radius: 12px; /* Rounded corners */
    border: 0.5px solid rgba(0, 0, 205, 0.5);
    margin: 0;
    padding: 0;
}

/* Apply styling to all Plotly figures */
.plotly {
    box-shadow: 4px 6px 5px rgba(0, 0, 0, 0.3); /* Drop shadow */
    border-radius: 12px; /* Rounded corners */
    margin: 30px; /* Space around the figure */
    padding: 30px; /* Inner padding */
    overflow: hidden; /* Ensure contents fit inside the rounded corners */
}

/* Some of the HTML/Markdown will use color hints like 'green-text' or 'blue-text' */
.green-text {
    color: rgb(40, 100, 40);
}

.blue-text {
    color: rgb(70, 70, 160);
}

.pink-text {
    color: rgb(200, 100, 200);
}

.red-text {
    color: rgb(200, 100, 100);
}

.orange-text {
    color: rgb(200, 140, 90);
}