# This file is used to install the required packages for the PyTorch Training Docker image.
--index-url https://download.pytorch.org/whl/cpu
--extra-index-url https://pypi.org/simple/
torch==2.8.0
pandas==2.3.1
awswrangler==3.12.1
pytorch-tabular==1.1.1
requests==2.32.4  # Needed by PyTorch-Tabular
joblib==1.5.1