h1, h2, h3, h4 {
    color: rgb(255, 255, 255); /* We want the text to dark gray */
}
body {
    color: rgb(240, 240, 240); /* We want the text to dark gray */
}

/* Custom CSS to style bold text */
b, strong {
    color: rgb(220, 180, 255); /* Replace with your desired RGB color */
}