/* Remove DashTable borders */
.dash-table-container {
    border: none !important;
}

.dash-table .cell {
    border: none !important;
}

.dash-table .cell-header {
    border: none !important;
}

.dash-table .row {
    border: none !important;
}

.dash-spreadsheet-container .dash-fixed-content {
    border: 0 !important;
}

.column,
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box;
}

/* Style links */
a {
    color: #7777ff;
    text-decoration: none;
}

a:hover {
    color: #8888ff;
    text-decoration: underline;
}