# Requirements for ChemProp model scripts
# Note: The training and inference images already have torch and chemprop installed.
#       So we only need to install packages that are not already included in the images.
