h1, h2, h3, h4 {
    color: rgb(40, 40, 40); /* We want the headers dark gray */
}

body {
    color: rgb(40, 40, 40); /* Dark gray text */
}

/* Links in Quartz are pink and hard to see */
/* Default link color */
a {
    color: rgb(60, 60, 200); /* Change to your preferred color */
}

/* Hover effect */
a:hover {
    color: rgb(80, 80, 2000); /* Change hover color */
}

/* Custom CSS to style bold text */
b, strong {
    color: rgb(0, 0, 0);
}

/* AgGrid custom CSS */

/* There's a one pixel border around the grid that we want to remove */
.ag-root-wrapper {
    border: none !important; /* Force removal with !important */
}


/* Box shadow and rounded corners for all AgGrid themes */
[class*="ag-theme-"] {
    box-shadow: 4px 6px 5px rgba(0, 0, 0, 0.3); /* Drop shadow */
    border-radius: 12px; /* Rounded corners */
    border: 0.5px solid rgba(0, 0, 0, 0.5);
    margin: 0;
    padding: 0;
}

/* Apply styling to all Plotly figures */
.plotly {
    box-shadow: 4px 6px 5px rgba(0, 0, 0, 0.3); /* Drop shadow */
    border-radius: 12px; /* Rounded corners */
    margin: 30px; /* Space around the figure */
    padding: 30px; /* Inner padding */
    overflow: hidden; /* Ensure contents fit inside the rounded corners */
}

/* Some of the HTML/Markdown will use color hints like 'green-text' or 'blue-text' */
.green-text {
    color: rgb(140, 255, 140);
}

/* Blue needs to be dark on this theme */
.blue-text {
    color: rgb(40, 40, 160);
}

.pink-text {
    color: rgb(240, 140, 240);
}

.red-text {
    color: rgb(255, 140, 140);
}

.orange-text {
    color: rgb(255, 195, 140);
}